<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.2</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../../static/adminStatic/css/font.css" th:href="@{/adminStatic/css/font.css}">
    <link rel="stylesheet" href="../../../static/adminStatic/css/xadmin.css" th:href="@{/adminStatic/css/xadmin.css}">
    <script th:src="@{/webjars/layui/2.5.6/layui.js}" src="" type="text/javascript"></script>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" src="" type="text/javascript"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js"
            th:src="@{/adminStatic/js/xadmin.js}"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/xadmin.js"
            th:src="@{/adminStatic/js/MyLayuiUtils.js}"></script>
    <script type="text/javascript" src="../../../static/adminStatic/js/echarts.min.js"
            th:src="@{/adminStatic/js/echarts.min.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script th:inline="javascript">
        /* 全局变量，存储应用上下文路径 */
        var contextPath = /*[[@{/}]]*/ '/';
    </script>
    <style>
        .layui-form-item {
            margin-bottom: 0;
        }

        .layui-form-pane .layui-form-label {
            max-width: 100px;
        }

        .layui-form-item .layui-input-inline .layui-form-select {
            width: 180px;
        }

        .layui-form-pane .layui-form-label {
            padding: 9px 15px;
        }
    </style>
</head>

<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body " style="padding-bottom: 0;">
                    <form class="layui-form layui-col-space5 layui-form-pane" id="form">
                        <!-- 根据标题查询 -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">标题名</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" autocomplete="off" placeholder="请输入要查询的标题"
                                       name="notice.title">
                            </div>
                        </div>

                        <!-- 根据用户 -->
                        <div class="layui-inline layui-show-xs-block layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input class="layui-input" autocomplete="off" placeholder="请输入要查询的用户名"
                                       name="user.userName">
                            </div>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn layui-btn-normal" id="searchBtn" type="button" lay-filter="sreach">
                                <i class="layui-icon">&#xe615;</i>
                            </button>
                            <input class="layui-btn layui-btn-normal layui-icon" type="reset" value="&#xe669;"/>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table id="listInfo" lay-filter="listInfo"></table>
                    <div id="mission_progress" style="background-color:#ffffff;min-height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm iconfont layui-btn-normal" lay-event="analysis">&#xe6b9; Python 情感分析
        </button>
        <button class="layui-btn layui-btn-sm iconfont layui-btn-danger" lay-event="del">&#xe69d; 删除</button>
    </div>
</script>

<script>
    layui.use(['table', 'form', 'upload', 'laydate', 'jquery'], function () {
        var table = layui.table,
            layer = layui.layer,
            form = layui.form,
            upload = layui.upload,
            laydate = layui.laydate,
            $ = layui.jquery;

        // 图标实例1
        let missionProgressChart = echarts.init(document.getElementById('mission_progress'));
        // 配置项
        let missionProgressOption = {
            title: {
                text: '公告评论-情感分析统计图',
                left: 'left',
                textStyle: {
                    color: '#235894'
                }
            },
            legend: {
                orient: 'vertical',
                left: 'right'
            },
            tooltip: {
                trigger: 'item'
            },
            series: [
                {
                    name: '满意度：',
                    type: 'pie',
                    radius: [50, 250],
                    center: ['50%', '50%'],
                    roseType: 'area',
                    itemStyle: {
                        borderRadius: 8
                    },
                    data: []
                }
            ]
        };

        // 初始调用表格加载方法
        loadFunction("getDataByPage");
        // 统计图
        loadFunction2("statistic");

        /**
         * 绑定查询按钮
         */
        $("#searchBtn").click(function () {
            // 获取表单数据
            var sendData = $("#form").serialize();
            // 重新调用表格加载方法
            loadFunction("getDataByPage?" + sendData)
            // 统计图
            loadFunction2("statistic?" + sendData)
        })

        //头工具栏事件
        table.on('toolbar(listInfo)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            var selectCount = data.length;      //获取选中行
            var dataId = getIds(data);          //data是选中的所有数据，得到的是一个数组，将这个数组传入getIds方法进行处理
            switch (obj.event) {
                //自定义头工具栏右侧图标 - 提示
                case 'del':
                    // 删除重要信息
                    deleteInfo(selectCount, dataId, "deleteInfo?type=2&delIds=" + dataId);
                    break;
                case 'analysis':
                    // 调用分析
                    analysisReq(contextPath + "comment/emotion/analysis?type=1");
                    break;
            }
        });

        /**
         * 加载表格方法
         * @param url
         */
        function loadFunction(url) {
            //第一个实例
            table.render({
                elem: '#listInfo'
                , height: 'full-115'
                , url: contextPath + "comment/" + url //数据接口
                , defaultToolbar: ['filter']
                , loading: true
                , limit: 20
                , title: '渠道信息'
                , toolbar: '#toolbarDemo'
                , page: {
                    layout: ['limit', 'count', 'prev', 'page', 'next', 'skip', 'refresh'] //自定义分页布局
                    , groups: 5 //只显示 5 个连续页码
                    , theme: '#1E9FFF'
                }
                , cols:
                    [
                        [ //表头
                            {type: 'checkbox'}
                            , {type: 'numbers', title: '序号', width: '8%'}
                            , {field: 'id', title: '主键标识', width: 120, hide: true}
                            , {
                            field: 'title',
                            width: '10%',
                            title: '评价人',
                            templet: '<div>{{d.user.userName}}</div>'
                        }
                            , {
                            field: 'content',
                            width: '15%',
                            title: '评价的公告',
                            templet: '<div>{{d.notice.title}}</div>'
                        }
                            , {field: 'content', width: '30%', title: '评价内容'}
                            , {field: 'score', width: '10%', title: '情感分'}
                            , {field: 'degree', width: '10%', title: '评价等级'}
                            , {field: 'createDate', width: '13%', title: '评价时间'}
                        ]
                    ]
            })
        }

        /**
         * 情感分析请求
         */
        function analysisReq(url) {
            console.log("准备发送情感分析请求到:", url);
            layer.confirm('是否执行数据分析?', {icon: 3, title: '提示'}, function (i) {
                layer.close(i);
                const index = layer.load();
                $.ajax({
                    url: url,
                    type: 'POST',
                    async: true,
                    dataType: 'json',
                    contentType: 'application/json;charset=utf-8', //设置请求头信息
                    success: function (rollData) {
                        console.log("情感分析请求成功，返回数据:", rollData);
                        layer.close(index);
                        
                        if (rollData.code == 0) {  // 注意这里使用数值比较而不是字符串
                            try {
                                // 直接解析msg字段中的JSON
                                var analysisData = JSON.parse(rollData.msg);
                                var msgText = "情感分析完成！<br>积极评价: " + analysisData.positive + 
                                             "<br>消极评价: " + analysisData.negative + 
                                             "<br>中性评价: " + analysisData.neutral;
                                
                                layer.confirm(msgText, {
                                    btn: ['确定']  //按钮
                                    , icon: 6
                                }, function (confirmIndex) {
                                    // 关闭确认弹窗
                                    layer.close(confirmIndex);
                                    
                                    console.log("开始刷新表格和图表...");
                                    
                                    // 先刷新表格数据
                                    table.reload('listInfo', {
                                        url: contextPath + "comment/getDataByPage",
                                        done: function(res) {
                                            console.log("表格刷新完成:", res);
                                            
                                            // 表格加载完成后再重新加载图表
                                            setTimeout(function() {
                                                loadFunction2("statistic");
                                            }, 500);
                                        }
                                    });
                                });
                            } catch(e) {
                                console.error("解析JSON失败:", e, "原始数据:", rollData.msg);
                                layer.confirm("情感分析完成，请刷新查看结果", {
                                    btn: ['确定']  //按钮
                                    , icon: 6
                                }, function (confirmIndex) {
                                    // 关闭确认弹窗
                                    layer.close(confirmIndex);
                                    // 直接刷新页面
                                    window.location.reload();
                                });
                            }
                        } else {
                            layer.confirm(rollData.msg || "操作失败", {
                                btn: ['确定']  //按钮
                                , icon: 5
                                , anim: 6
                            }, function (index) {
                                layer.close(index);
                            });
                        }
                    },
                    error: function (res) {
                        console.error("情感分析请求失败:", res);
                        layer.close(index);
                        layer.confirm('啊哦！访问出问题了！请联系管理员！', {
                            btn: ['确定']  //按钮
                            , icon: 5
                            , anim: 6
                        }, function (index) {
                            layer.close(index);
                        });
                    }
                });
            });
        }

        /**
         * 加载图表渲染
         * @param url
         */
        function loadFunction2(url) {
            let loading = layer.load();
            $.ajax({
                url: contextPath + "comment/" + url,
                dataType: 'json',
                type: 'get',
                success: function (result) {
                    console.log("加载统计图数据:", result);
                    layer.close(loading);
                    if (result.code == 0 || result.code == "0") {
                        if (result.data && result.data['chart1'] && result.data['chart1'].length > 0) {
                            console.log("加载图表数据:", result.data['chart1']);
                            
                            // 完全重新配置图表选项
                            let newOption = {
                                title: {
                                    text: '公告评论-情感分析统计图',
                                    left: 'left',
                                    textStyle: {
                                        color: '#235894'
                                    }
                                },
                                legend: {
                                    orient: 'vertical',
                                    left: 'right'
                                },
                                tooltip: {
                                    trigger: 'item',
                                    formatter: '{a} <br/>{b}: {c} ({d}%)'
                                },
                                series: [
                                    {
                                        name: '满意度：',
                                        type: 'pie',
                                        radius: [50, 200],
                                        center: ['50%', '50%'],
                                        roseType: 'area',
                                        itemStyle: {
                                            borderRadius: 8
                                        },
                                        data: result.data['chart1'],
                                        emphasis: {
                                            itemStyle: {
                                                shadowBlur: 10,
                                                shadowOffsetX: 0,
                                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                                            }
                                        }
                                    }
                                ]
                            };
                            
                            // 销毁旧图表实例并创建新的
                            missionProgressChart.dispose();
                            missionProgressChart = echarts.init(document.getElementById('mission_progress'));
                            missionProgressChart.setOption(newOption);
                            
                            console.log("图表渲染完成");
                        } else {
                            console.log("统计图数据为空");
                            missionProgressOption.series[0].data = [];
                            
                            // 销毁旧图表实例并创建新的
                            missionProgressChart.dispose();
                            missionProgressChart = echarts.init(document.getElementById('mission_progress'));
                            missionProgressChart.setOption(missionProgressOption);
                            
                            layer.msg('暂无图表数据');
                        }
                    } else {
                        missionProgressOption.series[0].data = [];
                        
                        // 销毁旧图表实例并创建新的
                        missionProgressChart.dispose();
                        missionProgressChart = echarts.init(document.getElementById('mission_progress'));
                        missionProgressChart.setOption(missionProgressOption);
                        
                        layer.confirm('暂无数据可分析！', {
                            btn: ['确定']  //按钮
                            , icon: 5
                            , anim: 6
                        }, function (index) {
                            layer.close(index);
                        });
                    }
                },
                error: function(xhr, status, error) {
                    console.error("加载统计图数据失败:", error);
                    layer.close(loading);
                    layer.msg('加载统计图数据失败');
                }
            });
        }

        // 图表 size 自适应
        window.addEventListener("resize", function () {
            missionProgressChart.resize();
        });
    });
</script>
</html>